<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Movie Recs</title>
</head>
<body>
   <h1>Let's Recommend (or Not Recommend) Some Movies</h1>

   <a href="/movies/new">Log A New Movie</a>
   <a href="/movies">Movies</a>
</body>
</html>