<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/movies/new">Add Movie</a>

    <h1>Logged Movies</h1>

    <ul>
      <% movies.forEach((movie) => { %>
        <a href="/movies/<%= movie._id %>">
          <li><%= movie.title %> (<%= movie.year %>)</li>

        </a>
     <% }) %>
    </ul>

  </body>
</html>
